.certificat_Container {
    min-width: 210mm;
    width: 210mm;
    height: 295.5mm;
    min-height: 295.5mm;
    margin: 5px auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./sert1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.soat {
    height: 30px;
    width: 30px;
    background: #f7f6fd;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 193px;
    left: 340px;

    color: #48484a;
    font-size: 17px;
    font-weight: 600;
    text-align: end;
}

.containerEng {
    width: 100%;
    height: 700px;
    margin-top: 130px;
    position: relative;
}

.Box_QRCodeEn {
    position: absolute;
    bottom: -30px;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
}

.Box_QRCodeEn>b:nth-child(3) {
    border-top: 1px dotted rgb(23, 0, 52);
    text-transform: uppercase;
    font-size: 10px;
}

.QRCodeEnd {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: 1px solid rgb(13, 0, 64);
    margin-bottom: 4px;

}

.engID {
    font-size: 17px;
    color: rgb(40, 27, 0);
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    left: 85px;
    width: 80%;
}

.engIDed {
    font-size: 16px;
    color: rgb(40, 27, 0);
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #48484a;

    align-items: center;
    position: absolute;
    top: 242px;
    left: 38px;
    width: 80%;
}

.line {
    font-size: 27px;
    color: rgb(40, 27, 0);
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 43px;
    left: 20px;
    width: 70%;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5px;
}




.imgLogo {
    position: absolute;
    bottom: -180px;
    right: -19px;
}